/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*ESTILO PROYECTO 3*/

* {
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: white;
  --font-black: #313131;
  --font-white: #FFFFFF;
  --font-brown: #9B9A78;
  --font-grey: #909090;
  --primary-font: "Poppins", sans-serif;
  --secundary-font: "Playfair Display", serif;
}

body {
  margin-bottom: 37px;
}

.container {
  margin-left: 140px;
  margin-right: 140px;
  font-family: var(--primary-font);
  background-image: url(/img/fondo2x.jpg);
  background-position: top 67px left;
  background-repeat: no-repeat;
  background-size: 630px;
}

.container .header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 33px;
  margin-bottom: 24px;
}

.header figure img {
  width: 200px;
}

nav ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menu a {
  font-size: 14px;
  color: var(--font-black);
  text-decoration: none;
  transition: all .5s ease;
}

.menu a:hover {
  color: var(--font-brown);
}

.search ul a img {
  width: 25px;
}

.search a {
  font-size: 14px;
}

.search ul > li:nth-child(2) > a {
  color: var(--font-brown);
}

.search ul > li:nth-child(3) > a {
  color: var(--font-white);
  text-decoration: none;
  background-color: var(--font-brown);
  padding: 8px 16px;
  transition: all 0.6s ease;
}

.search ul > li:nth-child(3) > a:hover {
  background-color: var(--font-grey);
}

.hero .title {
  display: grid;
  grid-template-columns: 72% 1fr;
  grid-template-rows: 80% 20%;
  max-width: 44%;
  margin-left: auto;
  
}

  
.hero .title {
  margin-top: 83px;
  margin-bottom: 24px;
  background: rgb(250, 250, 250, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding-top: 22px;
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 40px;
}

.hero .title h1 {
  grid-area: 1 / 1 / span 1/ span 1;
  font-size: 34px;
  font-family: var(--secundary-font);
  max-width: 100%;
}

.hero .title img {
  grid-area: 1 / 2 / span 1/ span 1;
  width: 45px;
  margin-top: 23px;
  margin-right: 60px;
}

.hero .title p {
  margin-top: 10px;
  grid-area: 2 / 1 / span 1 / span 2;
  color: var(--font-grey);
  font-size: 14px;
}

.hero .detalles ul {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 30%;
  margin-left: auto;
  gap: 10px;
}

.detalles ul li {
  background-image: url(/img/check.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
  padding-left: 30px;
}

.detalles a {
  color: var(--font-black);
  font-size: 12px;
}


.informacion {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.informacion article {
  padding: 27px 60px;
}
.informacion img {
  width: 50px;
  margin-bottom: 8px;
}

.informacion h3 {
  color: var(--font-black);
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 8px;
}

.informacion p {
  color: var(--font-grey);
  font-size: 14px;
}

